.user-data {
    display: flex;
    align-items: center;
}

.add-btn {
    background-image: url("../images/addButton.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: auto;
}

.add-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.subsection {
    display: flex;
    align-items: center;
    width: 50%;
}

.display {
    display: block;
}

.edit {
    display: block;
    transition: 0.1s;
}

.add-education {
    display: none;
}

.add-experience {
    display: none;
}

.edit-form {
    transition: 0.1s;
}

.add-education-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border: solid;
    width: 40%;
    margin: 0 auto;
    padding: 10% 0 10% 0;
    background-color: gray;
}

.add-experience-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border: solid;
    width: 40%;
    margin: 0 auto;
    padding: 10% 0 10% 0;
    background-color: gray;
}

