.user-data {
    display: flex;
    align-items: center;
}

.add-btn {
    background-image: url("../images/addButton.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: auto;
}

.add-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.subsection {
    display: flex;
    align-items: center;
    width: 50%;
}

.display {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.edit {
    display: block;
    transition: 0.1s;
}

.add-education {
    display: none;
}

.add-experience {
    display: none;
}

.edit-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: auto;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    width: 40%;
    margin: 0 auto;
    background-color: gray;
}

.add-education-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border: solid;
    width: 40%;
    margin: 0 auto;
    padding: 10% 0 10% 0;
    background-color: gray;
}

.add-experience-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    border: solid;
    width: 40%;
    margin: 0 auto;
    padding: 10% 0 10% 0;
    background-color: gray;
}

.edit-section {
    display: flex;
    flex-flow: column wrap;
    padding: 0 5% 0 5%;
    margin: 0 0 10px 0;
    border-top: solid black;
}

.edit-subsection {
    display: flex;
    flex-flow: column wrap;
    padding: 0 5% 0 5%;
    margin: 0 0 10px 0;
}

.edit-form-element {
    margin: 0 auto;
}


.profile-picture {
    display: flex;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../images/profilePicturePlaceholder.png");
}
